@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.bg-image {
  background-image: url(/assets/images/herosection1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  width: 100%;
  height: 100vh;
}
.navbar {
  background-image: url(/assets/images/navbar.png);
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  align-items: center;
}
.navbar a {
  color: #000000;
  text-decoration: none;
  padding: 20px;
  font-family: "Press Start 2P";
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
}
.logo img {
  margin-left: 40px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
p {
  font-family: "Press Start 2P";
  font-size: 20px;
  line-height: 228.5%;
  margin: 20px 0;
}
.navbar a img {
  align-items: center;
}
.navbar a:hover {
  color: #ffec37;
  text-decoration: underline;
}
.btn {
  background: #ffec37;
  width: 250px;
  height: 60px;
  font-family: "Press Start 2P";
  font-size: 16px;
  line-height: 228.5%;
  text-align: center;
  color: #000000;
  border-radius: 20px;
  box-shadow: 4px 4px 0px black;
}
.btn:hover {
  background: #e8770e;
}

.meet {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #203948;
}
.container-2 {
  background-image: url(/assets/images/2ndgroup.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 80%;
  padding: 20px;
  margin-left: 10%;
}
.title {
  font-family: "Press Start 2P";
  font-size: 36px;
  line-height: 228.5%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.description {
  width: 1056px;
  font-family: "Press Start 2P";
  font-size: 14px;
  line-height: 228.5%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.sunset {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url(/assets/images/magic.png);
  background-size: cover;
}
.linear {
  width: 1500px;
  height: 447px;
  margin-top: -50%;
  background: linear-gradient(180deg, #28424f 0%, #d69545 100%);
}
.subtitle {
  font-family: "Press Start 2P";
  font-size: 20px;
  line-height: 204.5%;
  text-align: center;
  color: #ffffff;
}
.title {
  font-family: "Press Start 2P";
  font-size: 36px;
  line-height: 204.5%;
  color: #ffffff;
  margin-top: 20px;
}
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.slider-track {
  display: flex;
  width: 100%;
}
.slider-track-1 {
  animation: slideLeft 10s linear infinite;
}

.slider-track-2 {
  animation: slideRight 10s linear infinite;
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}
.slider-track img {
  height: auto;
}
.house {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #28424f;
}
.container-3 {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.heading {
  font-family: "Press Start 2P";
  font-size: 20px;
  line-height: 204.5%;
  text-align: center;
  color: #ffffff;
}
.heading-2 {
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 36px;
  line-height: 204.5%;
  text-align: center;
  color: #ffffff;
}
.content-text {
  display: flex;
  align-items: center;
}
.club-image {
  height: 700px;
  min-width: 70%;
  margin-left: -100px;
  margin-bottom: 20px;
}
.perks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 800px;
}
.perk {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  min-width: 50px;
  min-height: 100px;
  cursor: pointer;
}
.perk:hover {
  background-color: #e8770e;
}
.events {
  margin-top: 50px;
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 204.5%;
}
.artists {
  margin-top: 50px;
  width: 135.14px;
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 6.52849px;
  line-height: 204.5%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.7;
}
.perk-1 img {
  margin-left: 90px;
  margin-top: 50px;
}
.continue {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #28424f;
}
.container-content {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.content {
  flex: 1;
  padding-right: 20px;
}
.title-heading {
  width: 252px;
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 36px;
  line-height: 204.5%;
  color: #ffffff;
}
.description-paragraph {
  font-family: "Press Start 2P";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.owning {
  font-family: "Press Start 2P";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 100%;
  max-width: 500px;
}
.founder {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #28424f;
}
.team-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
}
.team-member {
  padding: 30px;
  text-align: center;
}
.founder-heading {
  font-family: "Press Start 2P";
  font-size: 32px;
  line-height: 202.4%;
  text-align: center;
  color: #ffffff;
}
.team-member img {
  width: 100%;
}
.team-member h3 {
  margin: 10px 0 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 202.4%;
}
.team-member p {
  font-size: 16px;
  line-height: 202.4%;
  color: #ffffff;
  opacity: 0.7;
}
.hiring-btn {
  margin-top: 40%;
  margin-left: -50%;
  padding: 10px 20px;
  background-color: #ffec37;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Press Start 2P";
  font-size: 16px;
  line-height: 228.5%;
}
.accordian {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #28424f;
}
.faq-container {
  max-width: 800px;
  margin: 0 auto;
  width: 50%;
  font-family: "Press Start 2P";
}
.faq-container h1 {
  font-size: 32px;
  line-height: 202.4%;
  text-align: center;
  color: #ffffff;
}
.faq-item {
  padding: 15px 0;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 202.4%;
}
.faq-question::after {
  content: "+";
  font-size: 24px;
  transition: transform 0.3s ease;
  color: #ffffff;
  background: linear-gradient(179.87deg, #e8770e 5.08%, #fca32b 74.72%), #c4c4c4;
}
.faq-item.active .faq-question::after {
  content: "-";
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: #ffffff;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding-top: 10px;
}
.footer-last {
  display: flex;
  align-items: center;
  min-height: 50vh;
  background-image: url(/assets/images/footerimage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  text-align: center;
  padding: 20px;
  margin-left: 30%;
}
.footer h2 {
  font-size: 24px;
  text-shadow: 2px 2px #ffcc00;
}
.footer p {
  width: 425px;
  font-family: "Press Start 2P";
  font-size: 12px;
  line-height: 202.4%;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 10px;
}
.social-icons a img {
  width: 30px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
.social-icons a img:hover {
  transform: scale(1.2);
}
@media (max-width: 600px) {
  .team-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .content {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .content-text {
    flex-direction: row;
    justify-content: space-between;
  }
  .club-image {
    width: 50%;
  }
  .perks {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 18px;
  }
  .subtitle {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 14px;
  }
  .description {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
