@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.bg-image {
  background-image: url(/assets/images/herosection1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  width: 100%;
  height: 100vh;
}

.navbar {
  background-image: url(/assets/images/navbar.png);
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  /* justify-content:center; */
  align-items: center;
  /* flex-wrap: wrap; */
}

.navbar a {
  color: #000000;
  text-decoration: none;
  padding: 20px;
  font-family: "Press Start 2P";
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
}

.logo img {
  margin-left: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

p {
  font-family: "Press Start 2P";
  font-size: 20px;
  line-height: 228.5%;
  margin: 20px 0;
}

.navbar a img {
  align-items: center;
}
.navbar a:hover {
  color: #ffec37;
  text-decoration: underline;
}

.btn {
  background: #ffec37;
  width: 250px;
  height: 60px;
  font-family: "Press Start 2P";
  font-size: 16px;
  line-height: 228.5%;
  text-align: center;
  color: #000000;
  border-radius: 20px;
  box-shadow: 4px 4px 0px black;
}

.btn:hover {
  background: #e8770e;
}

.meet {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #203948;
}
.container-2 {
  background-image: url(/assets/images/2ndgroup.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 80%;
  padding: 20px;
  margin-left: 10%;
}

.title {
  font-family: "Press Start 2P";
  font-size: 36px;
  line-height: 228.5%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

.description {
  width: 1056px;
  font-family: "Press Start 2P";
  font-size: 14px;
  line-height: 228.5%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.sunset {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url(/assets/images/magic.png);
  background-size: cover;
}
.linear{
width: 1500px;
height: 447px;
margin-top: -50%;
background: linear-gradient(180deg, #28424F 0%, #D69545 100%);

}

@media (max-width: 600px) {
  .title {
    font-size: 14px;
  }
  .description {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
